.page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-container h2 {
    font-size: 4rem;
    color: #edefee;
}

.form-container {
    display: flex;
    background-color: #495e57;
    margin: 5rem auto 10rem auto;
    max-width: 100vw;
    border-radius: 16px;
}

form {
    display: flex;
    flex-direction: column;
    color: #edefee;
    margin: 5rem 8rem 5rem 8rem;
}

.submit-button {
    background-color: #f4ce14;
    color: #333;
    border-style: hidden;
    height: 3rem;
    border-radius: 1rem;
    margin-top: 2rem;
    justify-content: center;
    transition: all .1s ease;
}

.submit-button:active {
    background-color: #ee9972;
    color: #fbdabb;
    transition: all .1s ease;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 3rem;
    padding: auto;
}

section > input, select {
    height: 2rem;
    width: 20rem;
    border-radius: 10px;
    border-style: none;
}

section > label {
    padding-bottom: 1rem;
}

@media screen and (max-width: 550px) {

    .page-container > h2 {
        font-size: 3rem;
    }

    .page-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column;
        color: #edefee;
        margin-left: auto;
        margin-right: auto;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    section {
        justify-content: left;
        margin-bottom: 1rem;
    }

    section > input, select {
        width: 14rem;
    }
}

/*----------Confirmed Booking Css----------*/

.confirmedBooking-container {
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirmedBooking-container h2 {
    font-size: 3rem;
}

.confirmedBooking-container p {
    font-size: 2rem;
}