.specials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.specials-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.specials-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.specials-title h2 {
    margin-right: 2rem;
    text-align: center;
}

@media screen and (max-width: 620px) {

    .specials-title {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .specials-title h2 {
        margin-right: 0;
    }
}