footer {
    background-color: #495e57;
    color: #edefee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-flow: wrap;
    row-gap: 1rem;
}

footer nav {
    margin: auto 2rem auto 2rem;
}
