hr {
    border: 1px solid #edefee;
    margin: auto 5rem auto 5rem;
}

.nav-container ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-container ul li {
    margin: 1rem 20px 1rem 20px;
}

.nav-container ul li a {
    color: #333;
}

.header-logo{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.header-logo > img {
    display: flex;
    min-width: 150px;
    max-width: 200px;
}

